@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 0;
    --foreground: 255 255 255;

    --card: 17 17 17;
    --card-foreground: 255 255 255;

    --popover: 255 255 255;
    --popover-foreground: 0 0 0;

    --primary: 94 0 85;
    --primary-foreground: 255 255 255;

    --secondary: 24 0 95;
    --secondary-foreground: 255 255 255;

    --muted: 202 202 202;
    --muted-foreground: 255 255 255;

    --accent: 255 255 255;
    --accent-foreground: 255 255 255;

    --destructive: 120 0 0;
    --destructive-foreground: 255 255 255;

    --border: 255 255 255;
    --input: 255 255 255;
    --ring: 255 255 255;

    --radius: 0.5rem;

    --easy: 85 166 48;
    --medium: 255 195 0;
    --hard: 164 22 26;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply flex h-screen flex-col bg-background text-foreground;
  }
}

.sp-cube-wrapper {
  @apply hidden;
}
